//font size

.fs-primary-heading {
	font-size: var(--fs-heading);
}
.fs-sec-heading {
	font-size: var(--fs-sec-heading);
}
.fs-sub-heading {
	font-size: var(--fs-sub-heading);
}
.fs-body {
	font-size: var(--fs-body);
}

// font weight

.fw-regular {
	font-weight: var(--fw-regular);
}
.fw-sm-bold {
	font-weight: var(--fw-semi-bold);
}
.fw-bold {
	font-weight: var(--fw-bold);
}
