.container {
	width: min(100%, 56.25rem);
	padding-inline: 15px;
	margin-inline: auto;
}

.play-icon {
	color: hsl(0, 100%, 59%);
}

.section {
	padding-block: var(--section-padding);
	margin-inline: auto;

	@media screen and (min-width: 56.25rem) {
		max-width: 80rem;
	}
}

.inline {
	display: inline-block;
}

.strike {
	position: relative;
	color: var(--text-color);

	&:after {
		content: "";
		background-color: red;
		width: 100%;
		height: 1.5px;
		color: red;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 10px;
		left: 0;
		position: absolute;
	}
}

//typo

.fs-primary-heading {
	font-size: var(--fs-heading);
	line-height: 1.2;
	margin-bottom: 1.25rem;
}
.fs-sec-heading {
	font-size: var(--fs-sec-heading);
	line-height: 1.2;
	margin-bottom: 1.25rem;
}
.fs-sub-heading {
	font-size: var(--fs-sub-heading);
	line-height: 1.2;
	margin-bottom: 0.625rem;
}
.fs-body {
	font-size: var(--fs-body);
	line-height: 1.5;
	margin-bottom: 0.5rem;
}

// font size
.fs-sm {
	font-size: var(--fs-400);
}

.fs-md {
	font-size: var(--fs-550);
}

.fs-lg {
	font-size: var(--fs-700);
}

// font weight

.fw-regular {
	font-weight: var(--fw-regular);
}
.fw-sm-bold {
	font-weight: var(--fw-semi-bold);
}
.fw-bold {
	font-weight: var(--fw-bold);
}

// padding

.p10 {
	padding: 0.625em;
}
.p20 {
	padding: 1.25em;
}
.p30 {
	padding: 1.875em;
}
.p40 {
	padding: 0 2.5em;
}

.pb10 {
	padding-bottom: 0.625em;
}
.pb20 {
	padding-bottom: 1.25em;
}
.pb30 {
	padding-bottom: 1.875em;
}
.pb40 {
	padding-bottom: 0 2.5em;
}

// margin
.m10 {
	margin: 0 0.625em;
}
.m20 {
	margin: 0 1.25em;
}
.m30 {
	margin: 1.875em;
}
.m40 {
	margin: 0 2.5em;
}

.mb10 {
	margin-bottom: 0.125em;
}
.mb20 {
	margin-bottom: 1.25em;
}
.mb30 {
	margin-bottom: 1.875em;
}
.mb40 {
	margin-bottom: 0 2.5em;
}

// button

.btn {
	display: inline-block;
	font-size: var(--fs-500);
	font-weight: var(--fw-semi-bold);
	background-color: var(--clr-green);
	color: white;
	padding: 0.525em 1.25em;
	border: none;
	border-radius: 100vw;
	cursor: pointer;
	transition: background-color 300ms;
	user-select: none;

	&:hover,
	&:active {
		background-color: hsl(76, 59%, 45%);
	}
}

.video-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	.play-icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: min(90px, 20%);
	}
}

.list-item-number {
	display: grid;
	grid-template-columns: 30px 1fr;
	column-gap: 8px;
	margin-bottom: 0.5rem;

	.number-list {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: var(--clr-red);
		width: 30px;
		height: 30px;
		border-radius: 100vw;
		text-align: center;
		font-size: 1.25rem;
		font-family: "Merriweather", serif;
	}
}

.wave {
	position: absolute;
	height: 48px;
	width: 100%;
	background: #377afd;
	bottom: 0;
}

.wave::before,
.wave::after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100% 50%;
}

.wave::before {
	width: 55%;
	height: 109%;
	background-color: #fff;
	right: -1.5%;
	top: 60%;
}
.wave::after {
	width: 55%;
	height: 100%;
	background-color: #377afd;
	left: -1.5%;
	top: 40%;
}
