:root {
	// color
	--clr-primary-400: hsl(229, 65%, 42%);
	--clr-primary-500: hsl(221, 100%, 21%);
	--clr-primary-600: hsl(221, 100%, 18%);
	--clr-primary-700: hsl(221, 100%, 15%);

	// background color
	--bg-light: hsl(0, 0%, 100%);
	--bg-gray-100: hsl(0, 0%, 96%);
	--bg-primary: var(--clr-primary-400);

	--clr-org: hsl(40, 97%, 54%);
	--clr-red: hsl(0, 82%, 54%);
	--clr-blue: hsl(229, 65%, 42%);
	--clr-green: hsl(76, 59%, 51%);
	--clr-yel: hsl(59, 100%, 50%);
	--clr-gray-300: hsl(0, 0%, 20%);
	--clr-gray-400: hsl(0, 0%, 30%);
	--clr-gray-500: hsl(0, 0%, 40%);
	--clr-gray-600: hsl(0, 0%, 50%);
	--clr-gray-700: hsl(0, 0%, 55%);
	--clr-gray-800: hsl(0, 0%, 60%);

	// font size
	--fs-300: 0.875rem;
	--fs-400: 1rem;
	--fs-500: 1.125rem;
	--fs-600: 1.25rem;
	--fs-700: 1.875rem;
	--fs-800: 2.5rem;
	--fs-900: 3.5rem;

	// font weight
	--fw-regular: 400;
	--fw-semi-bold: 500;
	--fw-bold: 700;

	--fs-body: var(--fs-500); //18px
	--fs-heading: var(--fs-800); //40px
	--fs-sec-heading: var(--fs-600); //20px
	--fs-sub-heading: var(var(--fs-400)); //16px
}
