@import "./normalize";
@import "./text-color";
@import "./variables";
@import "./utilities";

* {
	// outline: 1px solid red;
}

body {
	font-family: "roboto", sans-serif;
	background-color: var(--bg-gray-100);
	overflow-x: hidden;
	color: var(--text-color);
}
// ===============================================================
// header ========================================================
header {
	background-color: var(--bg-primary);
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

// ===============================================================
// hero-section===================================================

.hero-section {
	background-color: var(--bg-primary);
	background-image: url(../img/Star-1.png), url(../img/Star-2.png), url(../img/Rectangle-8.png),
		url(../img/Rectangle-9.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 34rem 1rem, 0rem 28rem, 0rem 34rem, 14rem 19rem;
	color: #fff;
	text-align: center;
	min-height: 550px;

	.hero-heading {
		color: var(--clr-accent-400);
		font-size: clamp(var(--fs-800), 2vw, var(--fs-900));
		font-weight: var(--fw-bolder);
		font-family: "Merriweather", serif;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		line-height: 1.3;
	}
}
.hero-video {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='white' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: var(--clr-primary-100);
	border-radius: 15px;
	padding: 1em;
	margin-top: -300px;
	cursor: pointer;
	color: #fff;
	text-align: center;
}

// ===============================================================
// Gift section===================================================

.gift-section {
	--margin-top: 40px;
	margin-top: var(--margin-top);
	background-color: var(--bg-light);
}

// ===============================================================
// testimonials section===========================================

.testimonial {
	text-align: center;

	.container {
		overflow: hidden;
	}
}

.avatar-wrapper {
	min-width: 800px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-block: 1.25rem;

	img {
		width: 100%;
		object-fit: cover;
	}
}

.testimonial__wrapper {
	background-color: var(--bg-light);
	padding-block: 1.25em;
}

.testimonial .swiper-wrapper {
	align-items: center;
}

.testimonial .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
	position: relative;
}

.custom-swiper-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 1.2rem;
	font-weight: 900;
	color: var(--clr-blue-btn);
}

.swiper-pagination {
	position: revert;
	padding-inline: 8px;
	width: unset !important;
}

.swiper-button-next,
.swiper-button-prev {
	top: 14px;
	position: relative;
	left: revert;
	right: revert;
}

// ===============================================================
// footer===========================================

footer {
	background-color: var(--clr-gray-300);
	color: #fff;
	line-height: 1.8;
	width: 100%;
	padding-bottom: 1rem;
	margin-top: auto;
	text-align: center;
}
footer h1 {
	font-size: 1.85rem;
	line-height: 1.4;
	padding: 1.25rem 0 1rem;
	font-weight: 900;
}

footer p {
	font-size: 18px;
}
