.lp-exercise {
	--background-color: hsla(0, 0%, 95%, 1);
	--result-color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 100%;
	padding: 40px 15px 45px;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;

	&.correct {
		--result-color: var(--clr-green);
		background-color: hsl(76, 59%, 51%, 0.2);
	}

	&.incorrect {
		--result-color: var(--clr-red-700);
		background-color: hsl(0, 82%, 54%, 0.1);
	}

	.exercise-question {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
		overflow-y: auto;
	}

	.question-number {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.125rem;
		font-weight: 500;
		padding: 0.5em;
		background-color: var(--background-color);
		margin-bottom: 1.25rem;
		border-radius: 10px;
	}

	.question-title {
		font-size: clamp(2rem, 5vw, 2.5rem);
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		margin-bottom: clamp(2rem, 5vw, 3.5rem);
	}

	.question-input {
		width: min(100% - 20px, 480px);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 60px;

		input {
			font-size: 1.25rem;
			font-weight: 400;
			width: 100%;
			height: 80px;
			resize: none;
			border: 2px solid currentColor;
			border-radius: 5px;
			padding: 0.5em;
			color: var(--result-color);
			background-color: var(--background-color);
			outline: none;

			&::-webkit-input-placeholder {
				color: hsl(0, 0%, 70%);
			}
		}
	}

	.question-input__cta {
		font-size: 1rem;
		font-weight: 400;
		color: hsl(0, 0%, 70%);
		margin-bottom: 1rem;
	}

	.question-input__check-result {
		font-size: 1.25rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: var(--result-color);
	}

	.question-result {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.8rem;
		background-color: var(--background-color);
		border-radius: 5px;
		margin-bottom: 1rem;
		width: 100%;
		border: 1px solid #e1e1e1;
	}

	.question-result__desc {
		font-size: 1rem;
		font-weight: 400;
		color: hsl(0, 0%, 70%);
	}

	.question-result__answer {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.3;
		color: #333;
	}

	.question-btn-wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;
		width: 100%;
	}

	.submit-anwswer {
		margin-top: auto;
		min-width: 250px;
	}

	.btn + .btn {
		margin-top: 1rem;
	}

	.exercise-intro {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		padding-bottom: 3rem;

		.btn {
			min-width: 250px;
		}
	}

	.exercise-intro__image {
		width: min(100% - 30px, 700px);
		margin-inline: auto;
		margin-bottom: 1rem;
	}
	.exercise-intro__title {
		font-size: clamp(2.5rem, 5vw, 3.5rem);
		font-weight: 900;
		font-family: "Merriweather", serif;
		text-transform: uppercase;
		line-height: 1.3;
		color: var(--clr-org);
		margin-bottom: 0.2em;
	}
	.exercise-intro__desc {
		font-size: clamp(1.75rem, 5vw, 2.2rem);
		color: #333;
		margin-bottom: 4rem;
		line-height: 1.3;
	}
	.exercise-intro__cta {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}
