.landingpage-modal {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100%;
	top: 0;
	z-index: 999;

	.modal-content-wrapper {
		width: 100%;
		height: 100%;
		background-color: hsla(0, 0%, 0%, 0.7);
		display: flex;
		justify-content: center;
		align-items: start;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.modal-content {
		width: min(100%, 56.25rem);
		background-color: #fff;
		border-radius: 15px;
		// padding: 40px 15px 25px;
		min-height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: space-between;
		overflow-y: auto;
		animation: slideIn 500ms cubic-bezier(0, 0, 0.05, 0.98) forwards;

		.close-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 5px;
			font-size: 2rem;
			padding: 0.2em 0.5em;
			color: #333;
			z-index: 1;
			cursor: pointer;
			user-select: none;
		}

		@media screen and (min-width: 56.25rem) {
			margin-top: 40px;
			min-height: 700px;
		}
	}

	.modal-video {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
		padding: 40px 15px 25px;

		.video-wrapper {
			margin-bottom: 1rem;
		}
	}

	.modal-body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;

		& > *:first-child {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
		}
		.fs-sec-heading {
			margin-bottom: 15px;
		}
		.btn {
			margin-top: auto;
			margin-inline: auto;
		}
		.support {
			margin-top: 1rem;
		}
	}

	.ask-for-login {
		text-align: center;
		padding-bottom: 2rem;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(5000px);
	}

	100% {
		transform: translateY(0);
	}
}
